.animated-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(
    115deg,
    #ceb1ec,
    #12bcfe,
    #ff8ad4,
    #b2e2f2,
    #f5d2fb
  );
  background-size: 25% 100%;
  animation: border-slide 1.5s linear infinite;
  animation-play-state:running;
  translate: -5% 0%;
  transition: translate 0.25s ease-out;
  z-index: 0;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.animated-border:hover::before {
  animation-play-state: running;
  transition-duration: 0.75s;
  translate: 0% 0%;
}

@keyframes border-slide {
  to {
    transform: translateX(-25%);
  }
}
